<section class="facilities-section">
  <div class="facilities-container">
    <div class="facilities-main-info">
      <p class="facilities-small-p">Art & Congress <span>Hall</span></p>
      <div class="left-div">
        <img
          srcset="
            ./img/facilities2-1x-min.png 1x,
            ./img/facilities2-1x-min.png 2x
          "
          src="./img/facilities2-1x-min.png"
          alt="Kitchen staff"
        />
      </div>
      <div class="facilities-title">
        <h2>OUR FACI</h2>
        <div class="facilities-subtitle">
          <svg class="star-icon" width="70" height="70">
            <use href="./svg/symbol-defs.svg#icon-star"></use>
          </svg>
          <h2>LITIES</h2>
        </div>
      </div>
      <p class="facilities-big-p">
        Bank Hotel offers you a wide range of additional services and
        facilities. Visit our restaurant to try exclusive meals, book a
        conference hall to organize a business meeting, or relax in the art-bar.
      </p>
      <div class="right-div">
        <img
          srcset="
            ./img/facilities1-1x-min.png 1x,
            ./img/facilities1-1x-min.png 2x
          "
          src="./img/facilities1-1x-min.png"
          alt="Barman and drinks"
        />
        <svg
          class="circle-text"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <path
            id="circle"
            d="M 60,60 m -50,0 a 50,50 0 1,1 100,0 a 50,50 0 1,1 -100,0"
          />
          <text>
            <textPath
              xlink:href="#circle"
              startOffset="0"
              textLength="305"
              lengthAdjust="spacingAndGlyphs"
            >
              PREMIUM YOUR HOTEL BANK
            </textPath>
          </text>
        </svg>
      </div>
    </div>
    <div class="facilities-rooms">
      <!-- Number one -->
      <div class="ac">
        <div class="closed-panel-container">
          <img
            srcset="
              ./img/facilities3-1x-min.png 1x,
              ./img/facilities3-2x-min.png 2x
            "
            src="./img/facilities3-1x-min.png"
            alt="Ice Restaurant"
          />
          <p class="number-p">01</p>
          <h3 class="panel-header">Ice Restaurant</h3>
          <button class="ac-trigger">
            <svg class="ac-polygon">
              <use href="./svg/symbol-defs.svg#icon-Polygon-7"></use>
            </svg>
            →
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-panel-p">
            The hotel’s exclusive infrastructure is complemented by the unique
            atmosphere of the Safe Restaurant. Author’s menu, extensive wine
            card, and live music will set you for the correct mood.
          </p>
        </div>
      </div>

      <!-- Number two -->
      <div class="ac">
        <div class="closed-panel-container">
          <img
            srcset="
              ./img/facilities4-1x-min.png 1x,
              ./img/facilities4-2x-min.png 2x
            "
            src="./img/facilities4-1x-min.png"
            alt="Conference Hall"
          />
          <p class="number-p">02</p>
          <h3 class="panel-header">Conference Hall</h3>
          <button class="ac-trigger">
            <svg class="ac-polygon">
              <use href="./svg/symbol-defs.svg#icon-Polygon-7"></use>
            </svg>
            →
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-panel-p">
            The spacious and well-equipped Conference Hall is ideal for
            meetings, conferences, and events. Modern technology, comfortable
            seating, and a professional ambiance will ensure a successful
            experience.
          </p>
        </div>
      </div>

      <!-- Number three -->
      <div class="ac">
        <div class="closed-panel-container last-child">
          <img
            srcset="
              ./img/facilities6-1x-min.png 1x,
              ./img/facilities6-2x-min.png 2x
            "
            src="./img/facilities6-1x-min.png"
            alt="Wine Bar 'Reserve'"
          />
          <p class="number-p">03</p>
          <h3 class="panel-header">Wine Bar 'Reserve'</h3>
          <button class="ac-trigger">
            <svg class="ac-polygon">
              <use href="./svg/symbol-defs.svg#icon-Polygon-7"></use>
            </svg>
            →
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-panel-p">
            Discover the elegance of Wine Bar "Reserve," offering a curated
            selection of fine wines and gourmet appetizers. Perfect for an
            intimate evening or a special celebration in a cozy, refined
            atmosphere.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
