<footer class="footer">
  <div class="container">
    <div class="fotter-container">
      <div container-section>
        <div class="footer-section">
          <h3 class="footer-heading"><span>/</span>ABOUT US</h3>
          <p class="footer-text">
            The five-star hotel in a beautiful European city with a modern
            restaurant, conference-hall, and art-bar.
          </p>
        </div>
        <div class="footer-section">
          <h3 class="footer-heading"><span>/</span>NEWS</h3>
          <p class="footer-text">
            Sign up to our newsletter not to miss exclusive offers and
            information about the upcoming events.
          </p>
        </div>
        <div class="footer-section">
          <h3 class="footer-heading"><span>/</span>SOCIAL</h3>
          <ul class="footer-social">
            <li>
              <a href="https://facebook.com" class="footer-link" target="_blank"
                >FACEBOOK</a
              >
            </li>
            <li>
              <a
                href="https://instagram.com"
                class="footer-link"
                target="_blank"
                >INSTAGRAM</a
              >
            </li>
            <li>
              <a href="https://twitter.com" class="footer-link" target="_blank"
                >TWITTER</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <p class="footer-copyright">
          &copy;2021 All rights reserved. BankHotel
        </p>
        <div class="footer-subscribe">
          <button class="subscribe-button">
            EMAIL <span class="arrow">&rarr;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
