<section class="our gallery">
  <div class="container">
    <div class="gellery-logo"></div>
    <h2 class="gallery-title">our Gallery</h2>
    <p class="gallery-par">
      Explore our spacious rooms with the gorgeous view to the historical part
      of the city. Each room has an exclusive interior design decorated with
      modern art pieces that will make your stay unforgettable.
    </p>
    <div class="gallery-photo-container"></div>
    <div class="gallery-section-footer">
      <svg></svg>
      <p class="gallery-par-footer">
        It is our pleasure to meet your most unrealistic expectations.
      </p>
    </div>
  </div>
</section>
