<section class="section-rooms">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">ROOMS & APARTMENTS</h2>
      <div class="section-info-container">
        <p class="section-info">
          ALL ROOM DECORATION WAS MADE WITH ECOLOGICAL CERTIFIED AND SAFE
          MATERIALS.
        </p>
      </div>
    </div>

    <div class="rooms-content">
      <div class="room-preview">
        <img
          class="room-preview__image"
          src="./img/rooms1-1x-min.png"
          alt="Room Preview"
        />
      </div>

      <div class="room-details">
        <div class="since">
          <svg class="svg-since" width="35" height="35">
            <use href="./img/sprite.svg#icon-Star-8"></use>
          </svg>
          <span class="svg-text">Since 1973</span>
        </div>

        <div class="room-image">
          <img
            class="room-image-big"
            srcset="./img/rooms2-1x-min.png 1x, ./img/rooms2-2x-min.png 2x"
            src="./img/rooms2-1x-min.png"
            alt="Superior Twin Room"
          />
          <button class="book-room-btn">
            <span class="book-room-text">Book room</span>
          </button>
        </div>
        <div class="pagination">
  <span class="pagination-one">01  </span>
  <span class="pagination-slash">  / 04 </span>
</div>
      </div>

      <h3 class="room-title">Superior Twin</h3>
      <div class="room-description-container">
        <button class="next-btn">→</button>
        <p class="room-description">
          The Superior twin is perfect for those who plan to stay long. The
          spacious and bright room is equipped with deluxe Italian furniture and
          has a beautiful view to the historical part of the city. Stylish
          interior design and comfortable beds will make your stay cozy and
          pleasant.
      </div>
      </p>
    </div>
  </div>
</section>
