<section class="section-rooms">
  <div class="container rooms-container">
    <div class="section-header">
      <h2 class="section-title">ROOMS & APARTMENTS</h2>
      <p class="section-info">
        ALL ROOM DECORATION WAS MADE WITH ECOLOGICAL CERTIFIED AND SAFE
        MATERIALS.
      </p>
    </div>

    <div class="rooms-content">
      <div class="room-preview">
        <img
          src="../img/rooms1-1x-min.png"
          alt="Room Preview"
          class="room-preview__image"
        />
      </div>

      <div class="room-details">
        <div class="since">
          <svg class="svg-since" width="" height="">
            <use href=""></use>
          </svg>
          <span class="svg-text">Since 1973</span>
        </div>

        <h3 class="room-title">Superior Twin</h3>
        <p class="room-description">
          The Superior twin is perfect for those who plan to stay long. The
          spacious and bright room is equipped with deluxe Italian furniture and
          has a beautiful view to the historical part of the city. Stylish
          interior design and comfortable beds will make your stay cozy and
          pleasant.
        </p>
      </div>

      <div class="room-image">
        <img
          class="room-image-big"
          srcset="../img/rooms2-1x-min.png 1x, ../img/rooms2-2x-min.png 2x"
          src="../img/rooms2-1x-min.png"
          alt="Superior Twin Room"
        />
        <button class="book-room-btn">
          <span class="book-room-text">Book room</span>
        </button>
      </div>
    </div>

    <div class="pagination">
      <button class="next-btn">→</button>
      <span class="next-btn-text">01</span> /
      <span class="next-btn-text">04</span>
    </div>
  </div>
</section>
