<section class="rooms-and-apartments">
    <div class="containet rooms-container">
        <h2 class="rooms-title">Rooms
& apartments</h2>
<p class="rooms-text">All room decoration was made with ecological certified and safe materials.</p>
      <div class="rooms-since-container">
          <span class="rooms-since"><svg class="rooms-since-svg" width="" height="">
            <use href=""></use>
          </svg> Since 1973</span>
      </div>
      <div class="rooms-img-small">
        <img src="../img/rooms1-1x-min.png" alt="Small room decor view">
      </div>

      <div class="rooms-twin-container">
          <h2 class="rooms-twin-title">Superior Twin</h2>
          <p class="rooms-twin-text">
            The Superior Twin is perfect for those who plan to stay long. The spacious and bright room is equipped with
            deluxe Italian furniture and has a beautiful view of the historical part of the city. Stylish interior design
            and comfortable beds will make your stay cozy and pleasant.
          </p>
      </div>

      <div class="btn-cub">
        <span class="btn-cub-date">01 / 04</span>
        <button class="btn-twin">→</button>
      </div>

      <div class="rooms-img-big-container" >
      <img class="rooms-img-big" alt="Superior Twin room with bed and side table" srcset="../img/rooms2-1x-min.png 1x, ../img/rooms2-1x-min.png 2x" src="../img/rooms2-1x-min.png"> 

      <div class="rooms-img-big-btn">
        <button class="btn-book-room">Book room</button>
      </div>
    </div>
    </div>
    </section
   