.about-us-section {
    background-color: var(--primary-color);
    padding-top: 50px;
    padding-bottom: 70px;
}

.about-us-section::before,
.about-us-section::after {
    background-color: var(--primary-color);
}

.about-us-title {
    width: 195px;
    
    color: var(--secondary-color);
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
}

.main-img {
    width: 355px;
    height: 355px;

    margin: 70px 0;
}

.about-us-subtitle {
    font-size: 30px;
    line-height: 1;
    text-transform: capitalize;
    color: var(--white);

    margin-bottom: 20px;
}

.about-us-text {
    font-family: 'Helvetica Neue Roman', sans-serif;
    color: var(--white);
    font-size: 13px;
    line-height: 1.77;
}