:root {
  font-family: 'Miracle', 'Helvetica Neue Roman', 'Helvetica Neue Bold', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #313F38;
  --secondary-color: #FCD043;
  --text-color: #1B3B36;
  --white: #FFFCF6;
  --error: #B03E3E;
  --attention: #DC9B39;
  --success: #2A5B46;
  --link: #1b3b36;
  --link-hover: #455955;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
<<<<<<< HEAD
  src: url('../fonts/HelveticaNeueLTStd55Roman/HelveticaNeueLTStd55Roman.otf') format('otf');
=======
  src: url('./fonts/HelveticaNeueLTStd55Roman/HelveticaNeueLTStd55Roman.otf') format('otf');
>>>>>>> main
}

@font-face {
  font-family: 'Helvetica Neue Bold';
<<<<<<< HEAD
  src: url('../fonts/HelveticaNeueLTStd75Bold/HelveticaNeueLTStd75Bold.otf') format('otf');
=======
  src: url('./fonts/HelveticaNeueLTStd75Bold/HelveticaNeueLTStd75Bold.otf') format('otf');
>>>>>>> main
}