/**
  |============================
  | FIRST PART - MAIN INFO
  |============================
*/

/* Mobile 375px */
.facilities-section {
  padding-top: 70px;
  background-color: pink;
}

.facilities-main-info {
  margin-bottom: 70px;
  position: relative;
}

.right-div img,
.right-div .circle-text {
  display: none;
}

.facilities-small-p {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  position: absolute;
  left: 253px;
  text-align: right;
  width: 112px;
  font-size: 16px;
}

.left-div img {
  position: absolute;
  top: 250px;
  left: 85px;
  width: 192px;
}

.facilities-big-p {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  width: 221px;
  height: 138px;
  font-size: 13px;
  line-height: 1.7em;
  text-align: justify;
  margin-left: 135px;
  color: var(--text-color);
}

.facilities-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto 265px;
  width: 263px;
  height: 180px;
}

.facilities-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 263px;
}

.facilities-title h2 {
  font-family: 'Miracle', sans-serif;
  color: var(--text-color);
  font-size: 60px;
  line-height: 1em;
  width: 220px;
}

.facilities-subtitle h2 {
  width: 150px;
}

.star-icon {
  fill: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .facilities-section {
    padding-top: 80px;
  }

  .facilities-main-info {
    margin-bottom: 120px;
  }

  .facilities-small-p {
    left: 604px;
    width: 150px;
    font-size: 16px;
  }

  .facilities-small-p span {
    font-style: italic;
  }

  .left-div img {
    top: 210px;
    left: 20px;
    width: 200px;
  }

  .facilities-big-p {
    width: 250px;
    height: 115px;
    font-size: 13px;
    text-align: justify;
    margin: 0 auto;
  }

  .facilities-title {
    margin-left: 300px;
    margin-bottom: 160px;
    width: 428px;
    font-weight: 400;
  }

  .facilities-title h2 {
    font-size: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .facilities-section {
    padding-top: 100px;
  }

  .facilities-main-info {
    margin-bottom: 100px;
  }

  .right-div .circle-text {
    display: block;
  }

  .circle-text {
    position: absolute;
    top: 170px;
    left: 200px;
    display: block;
    overflow: visible;
    transform: scale(0.8);
    width: 80px;
    font-size: 13px;
    fill: var(--text-color);
    opacity: 90%;
  }

  .circle-text path {
    fill: none;
  }

  .facilities-small-p {
    left: 804px;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .facilities-small-p span {
    font-style: italic;
  }

  .left-div img {
    width: 231px;
  }

  .facilities-title {
    margin-left: 397px;
    margin-bottom: 180px;
    width: 428px;
    font-weight: 400;
  }

  .facilities-title h2 {
    font-size: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .facilities-section {
    padding-top: 150px;
  }

  .facilities-main-info {
    margin-bottom: 400px;
  }

  .right-div img {
    position: absolute;
    display: block;
    width: 335px;
    top: 130px;
    left: 1080px;
  }

  .right-div .circle-text {
    display: none;
  }

  .facilities-small-p {
    left: 20px;
    width: 160px;
    text-align: left;
  }

  .facilities-small-p span {
    font-style: normal;
  }

  .left-div img {
    position: absolute;
    top: 415px;
    z-index: 2;
    width: 335px;
  }

  .facilities-big-p {
    width: 350px;
    height: 140px;
    font-size: 13px;
    margin-left: 445px;
    font-size: 18px;
  }

  .facilities-title {
    margin-bottom: 160px;
    margin-left: 445px;
    min-height: 315px;
  }

  .facilities-title h2 {
    font-size: 120px;
  }
}

@media screen and (min-width: 1920px) {
  .facilities-section {
    padding-top: 200px;
  }

  .facilities-main-info {
    margin-bottom: 200px;
  }

  .right-div img {
    width: 440px;
    top: 150px;
    left: 1440px;
  }

  .right-div .circle-text {
    display: block;
  }

  .circle-text {
    top: 50px;
    left: 1350px;
    width: 180px;
    font-size: 13px;
    transform: scale(0.9);
  }

  .facilities-small-p {
    font-size: 26px;
    left: 20px;
    width: 250px;
  }

  .left-div img {
    top: 415px;
    width: 440px;
  }

  .facilities-big-p {
    margin-left: 660px;
  }

  .facilities-title {
    margin-bottom: 160px;
    margin-left: 660px;
    min-height: 390px;
  }

  .facilities-title h2 {
    font-size: 150px;
  }
}

/**
  |============================
  | SECOND PART - ACCORDION ANIMATION
  |============================
*/

/* Mobile 375px */

.ac {
  margin-bottom: 50px;
  background-color: var(--white);
}

.ac-polygon {
  display: none;
}

.ac-trigger {
  background-color: transparent;
  font-size: 40px !important;
  font-weight: 500 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 276px;
  position: absolute !important;
  font-family: 'Miracle', sans-serif !important;
  color: var(--text-color);
}

.ac-trigger::after {
  display: none !important;
}

.ac.is-active .ac-panel {
  overflow: visible !important;
}

.closed-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 38px;
  padding-right: 38px;
  position: relative;
  background-color: var(--white);
}

.closed-panel-container img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.number-p {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  font-family: 'Miracle', sans-serif;
  font-weight: 400;
  width: 30px;
}

.panel-header {
  font-size: 24px;
  font-family: 'Miracle', sans-serif;
  text-align: center;
}

.ac-panel {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

/* transition 375px */

.ac.js-enabled.is-active .closed-panel-container > img {
  width: 355px;
  height: 420px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.ac.js-enabled.is-active .number-p {
  top: 460px;
  left: 15px;
}

.ac.js-enabled.is-active .panel-header {
  font-size: 30px;
  width: 223px;
  font-weight: 500;
  margin-left: 90px;
}

.ac.js-enabled.is-active .ac-panel-p {
  width: 230px;
  font-size: 14px;
  text-align: left;
  margin-left: 140px;
}

.ac.js-enabled.is-active .closed-panel-container {
  padding-bottom: 10px;
}

.ac.js-enabled.is-active .ac-polygon {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  fill: transparent;
  stroke: var(--primary-color);
  opacity: 48%;
  stroke-width: 0.5px;
  z-index: 2;
}

.ac.js-enabled.is-active .ac-trigger {
  right: 290px;
  top: 520px;
  left: unset;
  z-index: 4;
  width: 70px;
  height: 70px;
  transform: rotate(90deg) translateY(2px);
  transition: transform 0.3 ease-out;
}

.ac.js-enabled.is-active .ac-trigger svg {
  transform: rotate(90deg) translateX(3px);
  transition: transform 0.3 ease-out;
}

/**
    |============================
    | NOT ACTIVE STYLES BACK TO NORMAL
    |============================
  */
.ac.js-enabled:not(.is-active) .closed-panel-container > img {
  width: 150px;
  height: 150px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

@media screen and (min-width: 768px) {
  .ac {
    margin-bottom: 50px;
  }

  .ac-trigger {
    background-color: transparent;
    width: 70px;
    height: 50px;
    left: 300px;
    top: 80px;
    font-size: 40px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .closed-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
  }

  .closed-panel-container img {
    width: 170px;
    height: 170px;
    margin-bottom: 40px;
    margin-right: 60px;
  }

  .number-p {
    position: unset;
    top: 0;
    right: 55px;
    font-size: 30px;
    margin-right: 70px;
    width: 30px;
  }

  .panel-header {
    font-size: 24px;
    text-align: center;
    width: 188px !important;
  }

  .ac-panel {
    display: flex;
    justify-content: center;
  }

  /* transition 768px */
  .ac.js-enabled.is-active {
    position: relative !important;
  }

  .ac.js-enabled.is-active .closed-panel-container > img {
    width: 300px;
    height: 450px;
    transform: translate(140%);
    transition: width 0.3s ease-out, height 0.3s ease-out transform 0.3 ease-out;
  }

  .ac.js-enabled.is-active .number-p {
    position: absolute;
    top: 30px;
    left: 200px;
    transition: top 0.3 ease-out, left 0.3 ease-out;
  }

  .ac.js-enabled.is-active .panel-header {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 240px !important;
    transition: top 0.3 ease-out, left 0.3 ease-out;
  }

  .ac.js-enabled.is-active .ac-panel {
    position: absolute;
    top: 250px;
    left: 50px;
    transition: top 0.3 ease-out, left 0.3 ease-out;
  }

  .ac.js-enabled.is-active .ac-polygon {
    width: 90px;
    height: 90px;
  }

  .ac.js-enabled.is-active .ac-trigger {
    right: 630px;
    top: 180px;
    width: 90px;
    height: 90px;
    transform: rotate(90deg) translateY(2px);
    transition: transform 0.3 ease-out;
  }

  .ac.js-enabled.is-active .ac-trigger svg {
    transform: rotate(90deg) translateX(2px);
    transition: transform 0.3 ease-out;
  }

  /**
    |============================
    | NOT ACTIVE STYLES BACK TO NORMAL
    |============================
  */

  .ac.js-enabled:not(.is-active) .closed-panel-container > img {
    width: 170px;
    height: 170px;
    transform: translate(0);
    transition: width 0.3s ease-out, height 0.3s ease-out,
      transform 0.3s ease-out;
  }

  .ac.js-enabled:not(.is-active) .number-p {
    position: unset;
    top: 0;
    left: unset;
    transition: top 0.3s ease-out, left 0.3s ease-out;
  }

  .ac.js-enabled:not(.is-active) .panel-header {
    position: unset;
    top: 0;
    left: unset;
    transition: top 0.3s ease-out, left 0.3s ease-out;
  }

  .ac.js-enabled:not(.is-active) .ac-panel {
    position: unset;
    top: unset;
    left: unset;
    transition: top 0.3s ease-out, left 0.3s ease-out;
  }

  .ac.js-enabled:not(.is-active) .ac-polygon {
    display: none;
    transition: display 0s;
  }

  .ac.js-enabled:not(.is-active) .ac-trigger {
    transform: rotate(0deg) translateY(0);
    transition: transform 0.3s ease-out;
  }

  .ac.js-enabled:not(.is-active) .ac-trigger svg {
    transform: rotate(0deg) translateX(0);
    transition: transform 0.3s ease-out;
  }
}

@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1920px) {
}
