.section-rooms {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fffcf6;
}

.section-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 30px;
  text-align: right;
}

.section-title {
  max-width: 324px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  color: --text-color;
  margin-bottom: 50px;
}

.section-info-container {
  display: flex;
  flex-direction: column;
}
.section-info {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: --text-color;
  text-align: left;
  max-width: 150px;
}

.room-preview__image {
  width: 285;
  height: 339;
  display: none;
}

.since {
  border: 1px solid black;
  border-radius: 99px;
  width: 249px;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 5px 25px;
  text-align: left;
  margin-bottom: 364px;
  display: none;
}

.room-details {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.room-image {
  position: relative;
  display: inline-block;
}

.room-image-big {
  display: block;
  width: 100%;
}

.book-room-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 120px;
  background-color: #f3b124;
  border: none;
  border-radius: 50%;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: --text-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &&:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}

.pagination {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

/* .pagination-one {
  color: rgba(0, 0, 0, 0.2);
} */

.pagination-slash {
  color: rgba(0, 0, 0, 0.2);
}

.room-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-transform: capitalize;
  color: --text-color;
  margin-bottom: 50px;
}

.room-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 70px;
}
.room-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  color: --text-color;
  opacity: 0.8;
}

.next-btn {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  clip-path: polygon(
    50% 0%,
    /* Верхній центральний */ 75% 5%,
    /* Верхній правий */ 95% 25%,
    /* Правий верхній */ 100% 50%,
    /* Правий центральний */ 95% 75%,
    /* Правий нижній */ 75% 95%,
    /* Нижній правий */ 50% 100%,
    /* Нижній центральний */ 25% 95%,
    /* Нижній лівий */ 5% 75%,
    /* Лівий нижній */ 0% 50%,
    /* Лівий центральний */ 5% 25%,
    /* Лівий верхній */ 25% 5% /* Верхній лівий */
  );
  text-align: center;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &&:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 1024px) {
  .subtitle {
    display: none;
  }
  .section-info-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-title {
    font-size: 100px;
    line-height: 80%;
    max-width: 691px;
  }

  .section-info {
    align-self: flex-end;
    width: 200px;
    text-align: left;
  }
}
